body{
    padding: 0;
    margin: 0;
}

/* Vans Page */

.loading{
    font-size: 30px;
}

.vans{
    position: relative;
    margin-top: 140px;
    text-align: center;
}

.vans--desc{
    padding: 0 200px 0 200px;
}

.vans--title{
    font-size: 50px;
}

.settings{
    margin-top: 50px;
}

.simple, .luxury, .rugged, .clear{
    display: inline-block;
}

.simpleButton, .luxuryButton, .ruggedButton, 
.simpleButtonActive, .ruggedButtonActive, .luxuryButtonActive{
    background-color: #ffdfb8;
    font-size: 25px;
    border: none;
    padding: 7px 25px 7px 25px;
    margin-right: 30px;
    border-radius: 8px;
    display: flex;
    float: left;
}

.simpleButton:active, .luxuryButton:active, .ruggedButton:active,
.simpleButtonActive, .ruggedButtonActive, .luxuryButtonActive{
    background-color: #fbc380;
    cursor: grabbing;
}

.simpleButton:hover, .luxuryButton:hover, .ruggedButton:hover{
    background-color: #ffd39d;
    cursor: pointer;
    transition: all 0.3s;
}

.clear{
    display: flex;
    float: right;
    font-size: 20px;
    text-decoration: underline;
}

.clear:hover{
    color: rgb(71, 71, 71);
    cursor: pointer;
    transition: all 0.3s;
}

.clear:active{
    color: rgb(68, 68, 68);
    cursor: grabbing;
}

.loading{
    text-align: center;
    margin-top: 300px;
}

.show{
    margin: 120px 100px 60px 100px;
}

.show--vans{
    margin: 70px 0 0 30px;
    display: inline-block;
}

.van--name, .van--price{
    display: inline-block;
}

.van--img{
    width: 220px;
    border-radius: 8px;
}

.van--name{
    display: flex;
    float: left;
    font-size: 20px;
    color: black;
}

.van--price{
    display: flex;
    float: right;
    font-size: 15px;
    line-height: 8px;
    color: black;
}

.rugged, .luxury, .simple{
    display: flex;
    float: left;
    font-size: 22px;
    padding: 7px;
    border-radius: 6px;
    color: white;
}

.clear{
    color: black;
}

.simple{
    background-color: #E17654;
}

.luxury{
    background-color: black;
}

.rugged{
    background-color: #115E59;
}

/* Van Details */

.van-detail-container {
    margin: 120px 300px 100px 300px;
    padding: 27px;
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
    width: 320px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van--desc{
    font-size: 20px;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

.link-button{
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 6px;
    cursor: pointer;
}

.link-button:hover{
    background-color: #e77423;
    transition: all 0.2s;
}

.link-button:active{
    background-color: #c55e15;
}

.error--message{
    margin-top: 200px;
    text-align: center;
}